/**
 * Stylesheet
 *
 * Main styles for the site.
 *
 * @since 1.0.0
 */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	background-color: orange;
	padding: 5rem;
	color: #444;
}

a {
	color: #444;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	border-bottom: 1px solid #444;
	cursor: pointer !important;
}

.nav {
	display: table;
	width: 100%;
	padding: 5rem;
	margin: 0;
	background: orangered;
	table-layout: fixed;
	border: 1px solid;
}

.nav > li {
	display: table-cell;
	width: 20%;
	background: goldenrod;
	list-style: none;
	position: relative;
	border: 1px solid #444;
	border-right: none;
	text-align: center;
	cursor: pointer;
}

.nav > li:nth-last-child(1) {
	border-right: 1px solid #444;
}

.nav li > ul {
	display: none;
	width: 100%;
	position: absolute;
	list-style: none;
	background: #ffe;
	border: 1px solid #444;
	text-align: left;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}

.nav li > ul > li {
	padding: 1rem;
}

.nav li:hover ul {
	display: table;
	border-bottom: 1px solid #444;

}
